/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	/*--------------BLOCK2 START--------------*/
	.block2 {
		font-size: 5rem;
	}
	/*---------------BLOCK2 END---------------*/

	/*--------------TRAVELS-BLOCK START--------------*/
			.travels-block .travels-slider .owl-nav {
				display: none;
			}
	/*---------------TRAVELS-BLOCK END---------------*/

	/*--------------GRAPHIC-BLOCK START--------------*/
			.graphic-block .graphics-slider .owl-nav {
				display: none;
			}
	/*---------------GRAPHIC-BLOCK END---------------*/
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	/*--------------BLOCK2 START--------------*/
	.block2 {
		padding: 110px 0 240px;
	}
	/*---------------BLOCK2 END---------------*/

	/*--------------TRAVELS-BLOCK START--------------*/
			.travels-block .travels-slider .blockTour:not(:nth-child(3n)),
			.travels-block .travels-slider .blockTour {
				width: 49%;
				margin-right: 0;
			}
			.travels-block .travels-slider .blockTour:not(:nth-child(2n)) {
				margin-right: 2%;
			}
	/*---------------TRAVELS-BLOCK END---------------*/

	/*--------------GRAPHIC-BLOCK START--------------*/
			.blockGraphic,
			.blockGraphic:nth-child(4) {
				width: 36.52%;
				margin-right: 6.74%;
				margin-left: 6.74%;
			}
	/*---------------GRAPHIC-BLOCK END---------------*/

	/*--------------GALLERY-BLOCK START--------------*/
			.gallery-block .img-wrap .blockImg:nth-child(1),
			.gallery-block .img-wrap .blockImg:nth-child(6) {
				float: none;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
			.gallery-block .img-wrap .blockImg:nth-child(2),
			.gallery-block .img-wrap .blockImg:nth-child(3),
			.gallery-block .img-wrap .blockImg:nth-child(4),
			.gallery-block .img-wrap .blockImg:nth-child(5) {
				width: 36.66%;
				margin-left: 6.67%;
				margin-right: 6.67%;
			}
	/*---------------GALLERY-BLOCK END---------------*/
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	/*--------------GRAPHIC-BLOCK START--------------*/
			.blockGraphic,
			.blockGraphic:nth-child(4) {
				width: 40%;
				margin-right: 5%;
				margin-left: 5%;
			}
	/*---------------GRAPHIC-BLOCK END---------------*/

	/*--------------GALLERY-BLOCK START--------------*/
			.gallery-block .img-wrap .blockImg:nth-child(2),
			.gallery-block .img-wrap .blockImg:nth-child(3),
			.gallery-block .img-wrap .blockImg:nth-child(4),
			.gallery-block .img-wrap .blockImg:nth-child(5) {
				width: 42%;
				margin-left: 4%;
				margin-right: 4%;
			}
	/*---------------GALLERY-BLOCK END---------------*/

	/*--------------REQUEST-BLOCK START--------------*/
		.request-block span {
			font-size: 2rem;
			line-height: 24px;
		}
		.request-block p {
			font-size: 5rem;
			line-height: 60px;
		}
		.request-block .text {
			font-size: 2.5rem;
			line-height: 26px;
		}
				.request-block ul.social li a {
					font-size: 4rem;
				}
	/*---------------REQUEST-BLOCK END---------------*/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 640px) {
	.title {
		font-size: 3.6rem;
	}
		.title hr {
			margin-top: 10px;
		}
	/*--------------HEADER START--------------*/
		header ul.menu {
			position: absolute;
			top: 71px;
			left: 0px;
			margin-top: 0px;
			background: rgba(255,255,255, .9);
			max-width: 100%;
			display: none;
			z-index: 6;
		}
			header ul.menu li {
				float: none;
				width: 100%;
				padding: 5px 0px;
			}
				header ul.menu li a {
					display: block;
				}
		header .mobile-menu {
			display: block;
		}
	/*---------------HEADER END---------------*/

	/*--------------BLOCK2 START--------------*/
	.block2 {
		font-size: 4rem;
		padding: 55px 0 121px;
	}
	/*---------------BLOCK2 END---------------*/

	/*--------------TRAVELS-BLOCK START--------------*/
			.travels-block .travels-slider .blockTour:not(:nth-child(2n)),
			.travels-block .travels-slider .blockTour:not(:nth-child(3n)),
			.travels-block .travels-slider .blockTour {
				float: none;
				margin-left: auto;
				margin-right: auto;
				width: 100%;
			}
	/*---------------TRAVELS-BLOCK END---------------*/

	/*--------------GRAPHIC-BLOCK START--------------*/
			.blockGraphic,
			.blockGraphic:nth-child(4) {
				width: 44%;
				margin-right: 3%;
				margin-left: 3%;
			}
	/*---------------GRAPHIC-BLOCK END---------------*/

	/*--------------GALLERY-BLOCK START--------------*/
			.gallery-block .img-wrap .blockImg:nth-child(2),
			.gallery-block .img-wrap .blockImg:nth-child(3),
			.gallery-block .img-wrap .blockImg:nth-child(4),
			.gallery-block .img-wrap .blockImg:nth-child(5) {
				width: 48%;
				margin-left: 1%;
				margin-right: 1%;
			}
	/*---------------GALLERY-BLOCK END---------------*/

	/*--------------REQUEST-BLOCK START--------------*/
		.request-block p {
			font-size: 4rem;
			line-height: 50px;
		}
		.request-block .text {
			font-size: 2rem;
		}
				.request-block ul.social li a {
					font-size: 3.6rem;
				}
	/*---------------REQUEST-BLOCK END---------------*/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.title {
		font-size: 2.4rem;
	}
	/*--------------BLOCK2 START--------------*/
	.block2 {
		font-size: 2.3rem;
		padding: 44px 0 96px;
	}
	/*---------------BLOCK2 END---------------*/

	/*--------------TRAVELS-BLOCK START--------------*/
					.travels-block .travels-slider .blockTour .blockText .name,
					.travels-block .travels-slider .blockTour .blockText .price {
						font-size: 1.8rem;
					}
	/*---------------TRAVELS-BLOCK END---------------*/

	/*--------------GRAPHIC-BLOCK START--------------*/
			.blockGraphic,
			.blockGraphic:nth-child(4) {
				width: 100%;
				margin-right: auto;
				margin-left: auto;
				float: none;
			}
	/*---------------GRAPHIC-BLOCK END---------------*/

	/*--------------GALLERY-BLOCK START--------------*/
			.gallery-block .img-wrap .blockImg:nth-child(2),
			.gallery-block .img-wrap .blockImg:nth-child(3),
			.gallery-block .img-wrap .blockImg:nth-child(4),
			.gallery-block .img-wrap .blockImg:nth-child(5) {
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
	/*---------------GALLERY-BLOCK END---------------*/

	/*--------------REQUEST-BLOCK START--------------*/
		.request-block p {
			font-size: 3.4rem;
			line-height: 40px;
		}
		.request-block a.travel {
			font-size: 1.6rem;
		}
	/*---------------REQUEST-BLOCK END---------------*/

	/*--------------REVIEWS-BLOCK START--------------*/
				.reviews-block .reviews-slider .wrapReviews .blockText {
					font-size: 1.6rem;
				}
	/*---------------REVIEWS-BLOCK END---------------*/
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}