/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	/*--------------BLOCK2 START--------------*/
	.block2 {
		font-size: 5rem;
	}
	/*---------------BLOCK2 END---------------*/
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	/*--------------BLOCK2 START--------------*/
	.block2 {
		padding: 110px 0 240px;
	}
	/*---------------BLOCK2 END---------------*/
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 640px) {
	/*--------------HEADER START--------------*/
		header ul.menu {
			position: absolute;
			top: 71px;
			left: 0px;
			margin-top: 0px;
			background: rgba(255,255,255, .9);
			max-width: 100%;
			display: none;
			z-index: 6;
		}
			header ul.menu li {
				float: none;
				width: 100%;
				padding: 5px 0px;
			}
				header ul.menu li a {
					display: block;
				}
		header .mobile-menu {
			display: block;
		}
	/*---------------HEADER END---------------*/

	/*--------------BLOCK2 START--------------*/
	.block2 {
		font-size: 4rem;
		padding: 55px 0 121px;
	}
	/*---------------BLOCK2 END---------------*/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	/*--------------BLOCK2 START--------------*/
	.block2 {
		font-size: 2.3rem;
		padding: 44px 0 96px;
	}
	/*---------------BLOCK2 END---------------*/
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}