* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.6rem;
}
html {
	font-size: 62.5%; }
a,
a:hover,
a:focus {
	text-decoration: none;
	color: #ffffff;
}
p, hr, ol, ul {
	margin: 0px;
}
.title {
	font-family: 'Source Sans Pro';
	font-size: 4.2rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #016633;
	text-align: center;
}
	.title hr {
		background: #90BE20;
		width: 44px;
		height: 2px;
		display: block;
		margin: 20px auto 0;
		border: none;
	}
.leftBlock {
	position: relative;
	float: left;
}
.rightBlock {
	position: relative;
	float: right;
}
.press-btn {
	position: relative;
	line-height: 54px;
	border-radius: 27px;
	display: inline-block;
	width: 100%;
	max-width: 283px;
	font-family: 'Source Sans Pro';
	font-size: 1.8rem;
	color: #ffffff;
	font-weight: 700;
	background: #90be20;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s ease;
}
.press-btn:hover {
	box-shadow: inset 0 0 0 27px #7ea61d;
}
/*--------------HEADER START--------------*/
header {
	position: relative;
	width: 100%;
	padding: 2px 0;
}
	header ul.menu {
		position: relative;
		width: 100%;
		max-width: 540px;
		list-style: none;
		padding: 10px;
		margin-top: 15px;
	}
		header ul.menu li {
			position: relative;
			float: left;
			width: 20%;
			padding: 0 2%;
		}
			header ul.menu li a {
				font-family: 'Source Sans Pro';
				font-weight: 600;
				color: #454545;
				font-size: 1.5rem;
				line-height: 24px;
				text-align: center;
			}
	header .mobile-menu {
		position: relative;
		line-height: 48px;
		width: 60px;
		font-size: 3.6rem;
		color: #454545;
		border: 6px solid #454545;
		text-align: center;
		border-radius: 5px;
		margin-top: 5px;
		display: none;
	}
/*---------------HEADER END---------------*/

/*--------------BLOCK2 START--------------*/
.block2 {
	position: relative;
	width: 100%;
	background: url(../img/block2_bg.png) center no-repeat;
	background-size: cover;
	text-align: center;
	font-family: 'Source Sans Pro';
	font-size: 6rem;
	font-weight: 900;
	color: #ffffff;
	padding: 165px 0 353px;
}
/*---------------BLOCK2 END---------------*/

/*--------------TRAVELS-BLOCK START--------------*/
.travels-block {
	position: relative;
	width: 100%;
	padding: 55px 0 60px;
	max-width: 1500px;
	margin: 0 auto;
}
	.travels-block .travels-slider {
		position: relative;
		width: 100%;
	}
		.blockTour {
			position: relative;
			width: 31.57%;
			max-width: 360px;
			margin-top: 30px;
			float: left;
		}
		.blockTour:not(:nth-child(3n)){
			margin-right: 2.63%;
		}
			.blockTour .blockImg {
				position: relative;
				display: block;
				z-index: 0;
			}
				.blockTour .blockImg img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, 0%);
					max-width: 1140px;
					min-height: 234px;
					z-index: 1;
				}
			.blockTour .emptyForImg {
				position: absolute;
				width: 100%;
				height: 100%;
				background: #2d2d2d;
				opacity: .36;
				z-index: 2;
			}
			.blockTour:hover .emptyForImg {
				opacity: .5;
				cursor: pointer;
			}
			.blockTour .blockText {
				position: relative;
				width: 100%;
				padding-bottom: 83px;
			}
				.blockTour .blockText .date {
					position: relative;
					background: #90BE20;
					width: 154px;
					line-height: 41px;
					text-align: center;
					color: #ffffff;
					font-family: 'Source Sans Pro';
					font-size: 1.4rem;
					font-weight: 700;
					border-bottom-right-radius: 20px;
					margin-bottom: 40px;
					z-index: 3;
				}
				.blockTour .blockText .name {
					text-transform: uppercase;
				}
				.blockTour .blockText .name,
				.blockTour .blockText .price {
					position: relative;
					font-family: 'Source Sans Pro';
					font-weight: 700;
					font-size: 2.2rem;
					line-height: 24px;
					text-align: center;
					display: block;
					color: #ffffff;
					z-index: 3;
				}
				.blockTour .blockText hr {
					position: relative;
					display: block;
					margin: 13px auto 7px;
					border: none;
					width: 62px;
					height: 2px;
					background: #ffffff;
					z-index: 3;
				}
		.travels-block .travels-slider .owl-nav {
			position: absolute;
			width: 100%;
			margin-top: -27px;
			top: 50%;
			left: 0;
		}
			.travels-block .travels-slider .owl-nav div {
				width: 54px;
				height: 54px;
				line-height: 54px;
				text-align: center;
				font-size: 2.4rem;
				color: #ffffff;
				border-radius: 50%;
				background: #90be20;
			}
			.travels-block .travels-slider .owl-nav .owl-prev {
				float: left;
				margin-left: .5%;
			}
			.travels-block .travels-slider .owl-nav .owl-next {
				float: right;
				margin-right: .5%;
			}
/*---------------TRAVELS-BLOCK END---------------*/

/*--------------GRAPHIC-BLOCK START--------------*/
.graphic-block {
	position: relative;
	width: 100%;
	padding: 60px 0;
	background: #f2f2f2;
}
	.graphic-block .graphics-slider {
		position: relative;
		width: 100%;
	}
		.blockGraphic {
			position: relative;
			float: left;
			max-width: 263px;
			width: 23.07%;
			margin-top: 30px;
			margin-right: 2.57%;
		}
		.blockGraphic:nth-child(4) {
			margin-right: 0;
		}
			.blockGraphic .blockImg {
				position: relative;
				display: block;
				width: 100%;
				height: 211px;
			}
				.blockGraphic .blockImg img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					max-width: 1140px;
					min-height: 211px;
				}
			.blockGraphic .blockText {
				position: relative;
				width: 100%;
				padding: 15px 10px 20px;
				background: #ffffff;
				text-align: center;
			}
				.blockGraphic .blockText .name {
					font-family: 'Source Sans Pro';
					font-weight: 700;
					font-size: 1.8rem;
					line-height: 24px;
					color: #016633;
					margin-bottom: 15px;
				}
				.blockGraphic .blockText .review {
					line-height: 35px;
					width: 115px;
					font-weight: 600;
					font-size: 1.3rem;
				}
		.graphic-block .graphics-slider .owl-nav {
			position: absolute;
			width: 100%;
			margin-top: -27px;
			top: 50%;
			left: 0;
		}
			.graphic-block .graphics-slider .owl-nav div {
				width: 54px;
				height: 54px;
				line-height: 54px;
				text-align: center;
				font-size: 2.4rem;
				color: #ffffff;
				border-radius: 50%;
				background: #90be20;
			}
			.graphic-block .graphics-slider .owl-nav .owl-prev {
				float: left;
				margin-left: .5%;
			}
			.graphic-block .graphics-slider .owl-nav .owl-next {
				float: right;
				margin-right: .5%;
			}
/*---------------GRAPHIC-BLOCK END---------------*/

/*--------------GALLERY-BLOCK START--------------*/
.gallery-block {
	position: relative;
	width: 100%;
	padding: 55px 0 60px;
	background: #f2f2f2;
	text-align: center;
}
	.gallery-block .img-wrap {
		position: relative;
		width: 100%;
		margin-top: 30px;
	}
		.gallery-block .img-wrap .blockImg {
			position: relative;
			float: left;
			margin-right: 2.5%;
			margin-bottom: 30px;
			height: 298px;
			overflow: hidden;
			z-index: 1;
		}
		.gallery-block .img-wrap .blockImg:nth-child(3n) {
			margin-right: 0;
		}
			.gallery-block .img-wrap .blockImg img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				max-width: 1140px;
				min-height:	298px;
			}
		.gallery-block .img-wrap .blockImg:nth-child(1),
		.gallery-block .img-wrap .blockImg:nth-child(6) {
			width: 48.68%;
		}
		.gallery-block .img-wrap .blockImg:nth-child(2),
		.gallery-block .img-wrap .blockImg:nth-child(3),
		.gallery-block .img-wrap .blockImg:nth-child(4),
		.gallery-block .img-wrap .blockImg:nth-child(5) {
			width: 23.15%;
		}
/*---------------GALLERY-BLOCK END---------------*/

/*--------------REQUEST-BLOCK START--------------*/
.request-block {
	position: relative;
	width: 100%;
	padding: 50px 0 60px;
	background: url(../img/request_bg.png) no-repeat center;
	background-size: cover;
	color: #ffffff;
	text-align: center;
}
	.request-block span {
		font-weight: 300;
		font-size: 2.4rem;
		line-height: 30px;
	}
	.request-block p {
		font-weight: 700;
		font-size: 6rem;
		line-height: 70px;
		text-transform: uppercase;
		margin: 15px 0;
	}
	.request-block .text {
		font-weight: 600;
		font-size: 3rem;
		line-height: 36px;
	}
	.request-block ul.social {
		position: relative;
		width: 100%;
		text-align: center;
		list-style: none;
		margin: 20px 0 30px;
	}
		.request-block ul.social li {
			position: relative;
			display: inline-block;
			padding: 0 5px;
		}
			.request-block ul.social li a {
				color: #90be20;
				font-size: 4.8rem;
				padding: 0 10px;
				display: block;
				line-height: 54px;
			}
			.request-block ul.social li a:hover {
				color: #7ea61d;
			}
	.request-block a.travel {
		max-width: 316px;
	}
/*---------------REQUEST-BLOCK END---------------*/

/*--------------REVIEWS-BLOCK START--------------*/
.reviews-block {
	position: relative;
	width: 100%;
	padding: 60px 0 65px;
	text-align: center;
}
	.reviews-block .reviews-slider {
		margin-top: 45px;
	}
		.reviews-block .reviews-slider .wrapReviews {
			position: relative;
			max-width: 945px;
			width: 90%;
			margin: 0 auto;
		}
			.reviews-block .reviews-slider .wrapReviews .blockImg {
				position: relative;
				display: inline-block;
				width: 134px;
				height: 134px;
				border-radius: 50%;
				z-index: 1;
				overflow: hidden;
			}
				.reviews-block .reviews-slider .wrapReviews .blockImg img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					max-width: 1140px;
					min-height:	134px;
				}
			.reviews-block .reviews-slider .wrapReviews .blockText {
				position: relative;
				padding: 25px 0 45px;
				font-size: 1.8rem;
				line-height: 26px;
			}
				.reviews-block .reviews-slider .wrapReviews .blockText p {
					margin-bottom: 25px;
				}
				.reviews-block .reviews-slider .wrapReviews .blockText span {
					text-transform: uppercase;
					color: #016633;
					font-weight: 700;
				}
		.reviews-block .reviews-slider .owl-nav {
			position: absolute;
			width: 100%;
			top: 50%;
			margin-top: -12px;
		}
			.reviews-block .reviews-slider .owl-nav div {
				font-size: 2.2rem;
				line-height: 24px;
			}
			.reviews-block .reviews-slider .owl-nav .owl-prev {
				float: left;
			}
			.reviews-block .reviews-slider .owl-nav .owl-next {
				float: right;
			}
	.reviews-block .more-reviews {
		max-width: 230px;
	}
/*---------------REVIEWS-BLOCK END---------------*/