* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.6rem;
}
html {
	font-size: 62.5%; }
a,
a:hover,
a:focus {
	text-decoration: none;
	color: #ffffff;
}
p, hr, ol, ul {
	margin: 0px;
}
.title {
	font-family: 'Source Sans Pro';
	font-size: 4.2rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #016633;
	text-align: center;
}
	.title hr {
		background: #90BE20;
		width: 44px;
		height: 2px;
		display: block;
		margin: 20px auto 0;
		border: none;
	}
.leftBlock {
	position: relative;
	float: left;
}
.rightBlock {
	position: relative;
	float: right;
}
/*--------------HEADER START--------------*/
header {
	position: relative;
	width: 100%;
	padding: 2px 0;
}
	header ul.menu {
		position: relative;
		width: 100%;
		max-width: 540px;
		list-style: none;
		padding: 10px;
		margin-top: 15px;
	}
		header ul.menu li {
			position: relative;
			float: left;
			width: 20%;
			padding: 0 2%;
		}
			header ul.menu li a {
				font-family: 'Source Sans Pro';
				font-weight: 600;
				color: #454545;
				font-size: 1.5rem;
				line-height: 24px;
				text-align: center;
			}
	header .mobile-menu {
		position: relative;
		line-height: 48px;
		width: 60px;
		font-size: 3.6rem;
		color: #454545;
		border: 6px solid #454545;
		text-align: center;
		border-radius: 5px;
		margin-top: 5px;
		display: none;
	}
/*---------------HEADER END---------------*/

/*--------------BLOCK2 START--------------*/
.block2 {
	position: relative;
	width: 100%;
	background: url(../img/block2_bg.png) center no-repeat;
	background-size: cover;
	text-align: center;
	font-family: 'Source Sans Pro';
	font-size: 6rem;
	font-weight: 900;
	color: #ffffff;
	padding: 165px 0 353px;
}
/*---------------BLOCK2 END---------------*/

/*--------------TRAVELS-BLOCK START--------------*/
.travels-block {
	position: relative;
	width: 100%;
	padding: 55px 0 60px;
	max-width: 1500px;
	margin: 0 auto;
}
	.travels-block .travels-slider {
		position: relative;
		width: 100%;
	}
		.blockTour {
			position: relative;
			width: 31.57%;
			max-width: 360px;
			margin-top: 30px;
			float: left;
		}
		.blockTour:not(:nth-child(3n)){
			margin-right: 2.63%;
		}
			.blockTour .blockImg {
				position: relative;
				display: block;
				z-index: 0;
			}
				.blockTour .blockImg img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, 0%);
					max-width: 1140px;
					min-height: 234px;
					z-index: 1;
				}
			.blockTour .emptyForImg {
				position: absolute;
				width: 100%;
				height: 100%;
				background: #2d2d2d;
				opacity: .36;
				z-index: 2;
			}
			.blockTour:hover .emptyForImg {
				opacity: .5;
				cursor: pointer;
			}
			.blockTour .blockText {
				position: relative;
				width: 100%;
				padding-bottom: 83px;
			}
				.blockTour .blockText .date {
					position: relative;
					background: #90BE20;
					width: 154px;
					line-height: 41px;
					text-align: center;
					color: #ffffff;
					font-family: 'Source Sans Pro';
					font-size: 1.4rem;
					font-weight: 700;
					border-bottom-right-radius: 20px;
					margin-bottom: 40px;
					z-index: 3;
				}
				.blockTour .blockText .name,
				.blockTour .blockText .price {
					position: relative;
					font-family: 'Source Sans Pro';
					font-weight: 700;
					font-size: 2.2rem;
					line-height: 24px;
					text-align: center;
					display: block;
					color: #ffffff;
					z-index: 3;
				}
				.blockTour .blockText hr {
					position: relative;
					display: block;
					margin: 13px auto 7px;
					border: none;
					width: 62px;
					height: 2px;
					background: #ffffff;
					z-index: 3;
				}
		.travels-block .travels-slider .owl-nav {
			position: absolute;
			width: 100%;
			margin-top: -27px;
			top: 50%;
			left: 0;
		}
			.travels-block .travels-slider .owl-nav div {
				width: 54px;
				height: 54px;
				line-height: 54px;
				text-align: center;
				font-size: 2.4rem;
				color: #ffffff;
				border-radius: 50%;
				background: #90be20;
			}
			.travels-block .travels-slider .owl-nav .owl-prev {
				float: left;
				margin-left: .5%;
			}
			.travels-block .travels-slider .owl-nav .owl-next {
				float: right;
				margin-right: .5%;
			}
/*---------------TRAVELS-BLOCK END---------------*/