* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.6rem;
}
html {
	font-size: 62.5%; }
a,
a:hover,
a:focus {
	text-decoration: none;
	color: #ffffff;
}
p, hr, ol, ul {
	margin: 0px;
}
.leftBlock {
	position: relative;
	float: left;
}
.rightBlock {
	position: relative;
	float: right;
}
/*--------------HEADER START--------------*/
header {
	position: relative;
	width: 100%;
	padding: 2px 0;
}
	header ul.menu {
		position: relative;
		width: 100%;
		max-width: 540px;
		list-style: none;
		padding: 10px;
		margin-top: 15px;
	}
		header ul.menu li {
			position: relative;
			float: left;
			width: 20%;
			padding: 0 2%;
		}
			header ul.menu li a {
				font-family: 'Source Sans Pro';
				font-weight: 600;
				color: #454545;
				font-size: 1.5rem;
				line-height: 24px;
				text-align: center;
			}
	header .mobile-menu {
		position: relative;
		line-height: 48px;
		width: 60px;
		font-size: 3.6rem;
		color: #454545;
		border: 6px solid #454545;
		text-align: center;
		border-radius: 5px;
		margin-top: 5px;
		display: none;
	}
/*---------------HEADER END---------------*/